{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card card-default">
            <div class="card-body">
                {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}

                {% endif %}
                <div class="row">
                    <div class="col-md">
                        <div class="form-group">
                            <!-- <label for="filter-input">Filter:</label> -->
                            <input type="text" id="filter-input" class="form-control" placeholder="Search">
                        </div>
                    </div>
                    
                </div>
                <div class="content">
                    <div class="card-body p-0">
                        <table class="table table-hover" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th style="width: 5px">No</th>
                                    <th>Tanggal</th>
                                    <th>Nama</th>
                                    <th>Gender</th>
                                    <th>Pendidikan</th>
                                    <th>Pengalaman</th>
                                    <th>Usia</th>
                                    <th>Psikotest</th>
                                    <th>Interview</th>
                                    <th>Rekom NBC</th>
                                    <th>Status</th>
                                    <th>Catatan</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in seleksis %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ s.Tanggal|date:"Y-m-d" }}</td>
                                    <td>{{ s.Nama }}</td>
                                    <td>{{ s.Gender }}</td>
                                    <td>{{ s.Pendidikan }}</td>
                                    <td>{{ s.Pengalaman }}</td>
                                    <td>{{ s.Usia }}</td>
                                    <td>{{ s.Psikotest }}</td>
                                    <td>{{ s.Interview }}</td>
                                    <td><strong>{{ s.Prediksi }}</strong></td>
                                    <td>{{ s.Status }}</td>
                                    <td>{{ s.Catatan }}</td>
                                    <td>
                                        <a href="{% url 'recruitment:update_seleksi' s.id %}" class="btn btn-xs btn-warning"
                                            style="width: 50px">Update</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md">
        <div class="card card-default">
            <div class="card-body">
                <!-- <label for="">Penjelasan
                </label> -->
                <!-- <p>Penjelasan</p> -->
                <!-- <ul> -->
                    <!-- {% if request.user.groups.all.0.name == "User" %}
                    <li style="font-size: 11px">
                        Anda dapat menambahkan transaksi baru dengan klik tombol <strong>Add Transaksi</strong>.
                    </li>
                    <br>
                    {% endif %}
                    <li style="font-size: 11px">
                        Anda dapat memfilter berdasarkan Date, Position dengan mengetik langsung pada field <strong>Search</strong>.
                    </li>
                    <br>
                    <li style="font-size: 11px">
                        Anda dapat melakukan export daftar PTK dengan klik tombol <strong>Export</strong>.
                    </li>
                    <br>
                    <li style="font-size: 11px">
                        Anda dapat mencetak daftar PTK dengan klik tombol <strong>Print</strong>.
                    </li> -->
                <!-- </ul> -->
                <!-- </p> -->
            <!--</div>
        </div>
    </div> -->
</div>

{% endblock content %}