{% extends 'base.html' %}


{% load static %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h2>{{ title }}</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ forms.as_p }}
        <input type="submit" value="Save">
    </form>
</body>
</html> -->




{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card card-default">
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-error{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{ forms.non_field_errors }}
                    <!-- <pre>{{ forms.as_p }}</pre> -->
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="nama">Nama Lengkap :</label>
                                {{ forms.nama }}
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="gender">Jenis Kelamin : </label>
                                {{ forms.gender }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usia">Usia :</label>
                                {{ forms.usia }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pendidikan">Pendidikan :</label>
                                {{ forms.pendidikan }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lulusan">Lulusan :</label>
                                {{ forms.almamater  }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="jurusan">Jurusan :</label>
                                {{ forms.jurusan }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="pengalaman">Pengalaman : </label>
                                {{ forms.pengalaman }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="keahlian">Keahlian :</label>
                                {{ forms.keahlian }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="perteker">PTK :</label>
                                {{ forms.perteker }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="alamat">Alamat :</label>
                                {{ forms.alamat }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">Phone / WA :</label>
                                {{ forms.phone }}
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-success btn-sm" value="Save" style="width: 100px">
                    <a href="{% url 'recruitment:create_pelamar' %}" class="btn btn-secondary btn-sm"
                        style="width: 100px">Clear</a>
                    <a href=" {% url 'recruitment:list_pelamar' %}" class="btn btn-danger btn-sm" style="width: 100px">Cancel</a>

                    <!-- Menampilkan field tambahan dari department --

                </form>
                <!-- <form action="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.as_table }}
                    <select name = 'item' id="'item">
                    {% for item in items %}
                        
                        
                            <option value="{{ item.id }}" {% if item.id == form.instance.item.id %}selected {% endif %}>
                                {{ item.Item_brand }}
                                          </option>
                    {% endfor %}
                </select>
                </form> -->
            </div>
        </div>
    </div>
    


</div>
<script src="{% static 'jquery.js' %}"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}