{% extends 'base.html' %}

{% block content %}
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script>
    $(document).ready(function () {
        $('#filter-input').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('table tbody tr').filter(function () {
                var rowText = $(this).text().toLowerCase();  // Ambil semua teks dalam baris
                $(this).toggle(rowText.indexOf(value) > -1); // Tampilkan jika cocok
            });
        });
    });
</script>

<div class="row">
    <div class="col-md">
        <div class="card card-default">
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="content">
                    <div class="card-body">
                        <div class="dataTables_wrapper dt-bootstraps4">

                            <div class="row no-print mb-2">
                                <div class="col-md">
                                    <!-- <div class="form-group"> -->
                                        <a href="{% url 'recruitment:create_pelamar' %}" class="btn btn-primary"
                                            style="width: 150px"> <i class="fas fa-plus-square nav-icon"></i> Tambah
                                        </a>
                                    <!-- </div> -->
                                </div>
                                <div class="col-md">
                                    <div class="d-flex justify-content-end md-2">
                                        <!-- <label for="filter-input">Filter:</label> -->
                                        <input type="text" id="filter-input" class="form-control" placeholder="Search" style="margin: 2px;">
                                    
                                        <a href="{% url 'recruitment:export_excel_pelamar' %}" class="btn btn-secondary"
                                            style="width: 150px; margin: 2px;">
                                            <i class="fas fa-file-excel nav-icon"></i> Export
                                        </a>
                                        <a href="" class="btn btn-secondary" onclick="printSection()" style="width: 150px; margin: 2px;">
                                            <i class="fas fa-print nav-icon"></i> Print
                                        </a>
                                    </div>
                                </div>
                            </div>
                
                            <table class="table table-hover table-bordered table-striped dataTable dtr-inline" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Posisi</th>
                                        <th style="width: 200px;">Nama</th>
                                        <th>Gender</th>
                                        <th>Usia</th>
                                        <th>Pend</th>
                                        <th>Jurusan</th>
                                        <th>Lulusan</th>
                                        <th>Exp</th>
                                        <!-- <th>Keahlian</th> -->
                                        <!-- <th>Alamat</th> -->
                                        <th>Phone</th>
                                        <th class="no-print">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pelamar in pelamars %}
                                    <tr>
                                        <td style="width: 7px">{{ forloop.counter }}</td>
                                        <td class="nowrap-cell nowrap-cell:hover">{{ pelamar.perteker.open_poss }}</td>
                                        <td>{{ pelamar.nama }}</td>
                                        <td style="width: 7px">
                                            {% if pelamar.gender == 'Laki-laki' %}
                                                L
                                            {% else %}
                                                P
                                            {% endif %}
                                        </td>
                                        <td style="width: 10px">{{ pelamar.usia }}</td>
                                        <td class="nowrap-cell nowrap-cell:hover">{{ pelamar.pendidikan }}</td>
                                        <td class="nowrap-cell nowrap-cell:hover">{{ pelamar.jurusan }}</td>
                                        <td class="nowrap-cell nowrap-cell:hover">{{ pelamar.almamater }}</td>
                                        <td style="width: 10px">{{ pelamar.pengalaman }}</td>
                                        <!-- <td class="nowrap-cell nowrap-cell:hover">{{ pelamar.keahlian }}</td> -->
                                        <!-- <td class="nowrap-cell nowrap-cell:hover">{{ pelamar.alamat }}</td> -->
                                        <td class="nowrap-cell nowrap-cell:hover">{{ pelamar.phone }}</td>
                                        <td class="no-print">
                                            <a href="{% url 'recruitment:update_pelamar' pelamar.id %}" class="btn btn-warning"
                                                style="width: 110px; color: white; margin: 2px;"><i class="fas fa-edit nav-icon"></i> Update</a>
                                            |
                                            <a href="{% url 'recruitment:delete_pelamar' pelamar.id %}" onclick="return confirm('Yakin ingin menghapus data ini?');" class="btn btn-danger"
                                                style="width: 110px; margin: 2px;"><i class="fas fa-trash nav-icon"></i> Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
  