{% extends 'base.html' %}


{% load static %}


{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card card-default">
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-error{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    <!-- {{ forms.non_field_errors }} -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="posisi">Posisi :</label>
                                {{ forms.open_poss }}
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="gender">Gender :</label>
                                {{ forms.gender }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="batas_usia">Usia Maksimal :</label>
                                {{ forms.batas_usia }}
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="pendidikan_min">Pendidikan Minimal :</label>
                                {{ forms.pendidikan_min }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="pengalaman">Pengalaman :</label>
                                {{ forms.pengalaman }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="jurusan">Jurusan :</label>
                                {{ forms.jurusan }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="jumlah">Jumlah :</label>
                                {{ forms.jumlah }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-success btn-sm" value="Save" style="width: 100px">
                    <button type="reset" class="btn btn-secondary btn-sm" style="width: 100px">Clear</button>
                    <!-- <a class="btn btn-secondary btn-sm" type="reset" style="width: 100px">Clear</a> -->
                    <a href=" {% url 'recruitment:list_perteker' %}" class="btn btn-danger btn-sm" style="width: 100px">Cancel</a>
                </form>              
            </div>
        </div>
    </div>
</div>
<script src="{% static 'jquery.js' %}"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}