{% extends 'base.html' %}


{% block content %}
<div class="row">
  <div class="col-md">
    <div class="card card-default">
      <div class="card-body">
        {% if messages %}
          {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <a href="{% url 'recruitment:create_perteker' %}" class="btn btn-primary btn-md"
              style="width: 180px">Tambah PTK
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <!-- <label for="filter-input">Filter:</label> -->
              <input type="text" id="filter-input" class="form-control" placeholder="Search">
            </div>
          </div>
          <div class="col-md d-flex justify-content-end">
            <div class="form-group">
              <a href="{% url 'recruitment:list_departemen' %}" class="btn btn-info btn-md"
                    style="width: 40px">
                <i class="fas fa-file-excel nav-icon"></i>
              </a>
              <a href="" class="btn btn-secondary btn-md" onclick="printSection()" style="width: 40px ">
                <i class="fas fa-print nav-icon"></i>
              </a>
            </div>
          </div>
          <div class="content">
            <div class="card-body p-0">
              <table class="table table-hover" style="text-align: center;">
                <thead>
                  <tr>
                    <th style="width: 5px">No</th>
                    <!-- <th>User</th> -->
                    <th>Tanggal</th>
                    <th>Posisi</th>
                    <th style="width: 10px">Gender</th>
                    <th>Usia Max</th>
                    <th>Pdk Min</th>
                    <th>Jurusan</th>
                    <th>Pengalaman</th>
                    <th style="width: 10px">Qty</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  {% for p in pertekers %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <!-- <td>{{ ptk.user.username }}</td> -->
                    <td>{{ p.tanggal|date:"Y-m-d" }}</td>
                    <td>{{ p.open_poss }}</td>
                    <td>{{ p.gender }}</td>
                    <td>{{ p.batas_usia }}</td>
                    <td>{{ p.pendidikan_min }}</td>
                    <td>{{ p.jurusan }}</td>
                    <td>{{ p.pengalaman }}</td>
                    <td>{{ p.jumlah }}</td>
                    <td>
                      <a href="{% url 'recruitment:update_perteker' p.id %}" class="btn btn-xs btn-warning"
                          style="width: 50px; color:white">Edit</a>
                      |
                      <a href="{% url 'recruitment:delete_perteker' p.id %}" class="btn btn-xs btn-danger"
                          style="width: 50px">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
      
    </div>
  </div>
</div>

{% endblock content %}