{% extends 'base.html' %}
<!-- <h2>{{ title }}</h2>
<a href="{% url 'recruitment:list_pelamar' %}">Pelamar</a>
<a href="{% url 'recruitment:list_perteker' %}">Tenaker</a>
<a href="{% url 'recruitment:list_seleksi' %}">Seleksi</a>
<table border="1">
  <tr>
    <th>Nama Departemen</th>
    <th>Aksi</th>
  </tr>
  {% for d in depts %}
  <tr>
    <td>{{ d.nama }}</td>
    <td>
      <a href="{% url 'recruitment:update_departemen' d.id %}">Update</a>
       | 
      <a href="{% url 'recruitment:delete_departemen' d.id %}">Delete</a>
  </td>
  </tr>
  {% endfor %}
</table>
<a href="{% url 'recruitment:create_departemen' %}">Add</a> -->




{% block content %}
<!-- <table border="1">
  <tr>
    <th>Nama Departemen</th>
    <th>Aksi</th>
  </tr>
  {% for d in depts %}
  <tr>
    <td>{{ d.nama }}</td>
    <td>
      <a href="{% url 'recruitment:update_departemen' d.id %}">Update</a>
       | 
      <a href="{% url 'recruitment:delete_departemen' d.id %}">Delete</a>
  </td>
  </tr>
  {% endfor %}
</table>
<a href="{% url 'recruitment:create_departemen' %}">Add</a> -->

<div class="row">
    <div class="col-md-10">
        <div class="card card-default">
            <div class="card-body">
                {% if messages %}
                  {% for message in messages %}
                  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                      {{ message }}
                  </div>
                {% endfor %}

                {% endif %}
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <a href="{% url 'recruitment:create_departemen' %}" class="btn btn-primary btn-md"
                                style="width: 180px">Tambah {{ title }}
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <!-- <label for="filter-input">Filter:</label> -->
                            <input type="text" id="filter-input" class="form-control" placeholder="Search">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <a href="" class="btn btn-info btn-md"
                                style="width: 40px">
                                <i class="fas fa-file-excel nav-icon"></i>
                            </a>
                            <a href="" class="btn btn-secondary btn-md" onclick="printSection()" style="width: 40px">
                                <i class="fas fa-print nav-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="card-body p-0">
                        <table class="table table-hover" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th style="width: 10px">No</th>
                                    <th>Departemen</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in departemens %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ d.nama }}</td>
                                    <td>
                                        <a href="{% url 'recruitment:update_departemen' d.id %}" class="btn btn-sm btn-warning"
                                            style="width: 100px; color: white;">Update</a>
                                        |
                                        <a href="{% url 'recruitment:delete_departemen' d.id %}" class="btn btn-sm btn-danger"
                                            style="width: 100px">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-default">
            <div class="card-body">
                <p>Penjelasan</p>
                    <!-- <ul> -->
                        <li style="font-size: 11px;">
                            Anda dapat menambahkan user baru dengan klik tombol <strong>Tambah User</strong>.
                        </li>
                        <br>
                        <li style="font-size: 11px;">
                            Anda dapat memfilter berdasarkan username, departemen ataupun role akses dengan mengetik langsung pada field <strong>Search</strong>.
                        </li>
                        <br>
                        <li style="font-size: 11px;">
                            Anda dapat melakukan export daftar user dengan klik tombol <strong>Export</strong>.
                        </li>
                        <br>
                        <li style="font-size: 11px;">
                            Anda dapat mencetak daftar user dengan klik tombol <strong>Print</strong>.
                        </li>
                    <!-- </ul> -->
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
  